#search-form-btn {
    font-size: 0;
    top: 8px;
}
.isearch.active {
    right: 0;
}
#send-form {
    background: white;
}
#bx-soa-order-form {
    margin-left: 240px;
    padding-top: 100px;
}

.cart-item {
    display: none;
}
.active {
    display: block;
}
#cart-itog-block #send-form.unactive {
    display: none; !important;
}
.unactive {
    display: none;
}
@media (max-width: 490px) {
    #bx-soa-order-form {
        padding-top: 20px;
        margin-left: 3px;
    }
}