body{
    font-family: 'HelveticaNeueCyr';
    padding: 0;
    margin: 0;
    background: #f9f9f9;
    color: #1b1b1b;
    overflow-x: hidden;
}
* { -webkit-user-select:none; -moz-user-select:none; }

a:hover{
    text-decoration: none;
}

#content-size{
    position: fixed;
    display: block;
    left: 0;
    top :0;
    height: 100%;
}
#all-content{
    position: relative;
    display: block;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
}
#all-content.fixed{
    position: fixed;
}
#white-catalog-bg{
    position: absolute;
    display: block;
    width: 100%;
    height: calc(100% - 1080px);
    top: 0;
    background: #fff;
}
.empty{
    position: relative;
    display: inline-block;
    height: 1px;
    width: 99%;
}

#fixed-left-menu{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 230px;
    background: #fff;
    z-index: 10;
}
a#logo{
    position: absolute;
    left: 60px;
    top: 43px;
    width: 46px;
    height: 56px;
    background: url(../img/logo.png) no-repeat;
    background-size: 100% 100%;
}
#menu-items{
    position: absolute;
    display: block;
    left: 60px;
    top: 265px;
}
#menu-items a{
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: #1b1b1b;
    text-decoration: none;
}
#menu-items a.brands-menu-btn{
    margin-bottom: 30px;
}
#menu-items .catalog-submenu{
    position: relative;
    display: none;
    padding-left: 26px;
}

#page-top{
    position: relative;
    display: block;
    height: auto;
    width: calc(100% - 230px);
    left: 230px;
    background: #fff;
}
#page-top #page-top-cover{
    position: relative;
    display: block;
    width: 62.3%;
}
.top-cover{
    position: absolute;
    display: block;
    left: 0;
    width: 62.3%;
    height: 100%;
    padding-bottom: 75px;
}
#top-content{
    position: relative;
    display: block;
    margin-left: 39.74%;
    width: 60.26%;
    top: 0;
    background: rgba(27, 27, 27, 0.97);
    padding-top: 225px;
    padding-bottom: 126px;
    box-sizing: border-box;
    min-height: 100%;
}
#page-top.white-top-content #top-content{
    background: rgba(255, 255, 255, 0.97);
}
#top-info{
    position: relative;
    display: block;
    padding-left: 162px;
    padding-right: 100px;
}
.top-subtitle{
    position: relative;
    display: block;
    font-size: 12px;
    margin-bottom: 15px;
    /*text-transform: uppercase;*/
    color: #acacab;
}
.top-title{
    position: relative;
    display: block;
    font-size: 80px;
    line-height: 80px;
    margin-left: -113px;
    color: #fff;
    font-weight: 900;
}
#page-top.white-top-content #top-content .top-title{
    color: #1b1b1b;
}

.top-number{
    position: absolute;
    display: block;
    left: -102px;
    overflow: hidden;
    font-size: 80px;
    line-height: 80px;
    height: 40px;
    color: #3f3f3f;
    top: 0;
}
.top-text{
    position: relative;
    display: block;
    margin-top: 40px;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}
#page-top.white-top-content #top-content .top-text{
    color: #1b1b1b;
}
#page-top.white-top-content #top-content .top-bookmark{
    position: absolute;
    display: block;
    top: -90px;
    font-weight: 300;
    margin-left: -113px;
    color: #acacab;
    font-size: 11px;
    line-height: 24px;
}
#page-top.white-top-content #top-content .top-bookmark a{
    color: #acacab;
    text-decoration: none;
    margin: 0 3px;
}
#page-top.white-top-content #top-content .top-bookmark a:hover{
    color: #1b1b1b;
}
#page-top.white-top-content #top-content .top-bookmark span{
    color: #1b1b1b;
    margin: 0 3px;
}
.top-text a{
    margin-top: 30px;
}
a.show-more{
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #7f7f7e;
    text-decoration: none;
}
a.show-more.video-show-more:after{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 28px;
    height: 28px;
    content: "";
    right: 0;
    top: -2px;
    padding-left: 20px;
    background: url(../img/top_play.svg) no-repeat 100% 0;
    background-size: auto 100%;
    opacity: 0.5;
}
a.show-more.video-show-more:hover:after{
    opacity: 1;
}
a.show-more:hover{
    color: #1b1b1b;
}
#home-blog a.show-more:hover{
    color: #fff;
}
a.show-more span{
    position: relative;
    line-height: 24px;
    border-bottom: #7f7f7e solid 1px;
    display: inline-block;
}
#top-more-items{
    position: relative;
    left: 37.35%;
    margin-top: 50px;
}
.top-more-item{
    position: relative;
    display: inline-block;
    margin-right: 42px;
    opacity: 0.5;
}
.top-more-item:first-child{
    opacity: 1;
    z-index: 1;
}
.top-more-item span{
    position: absolute;
    bottom: 15px;
    font-size: 14px;
    line-height: 16px;
    left: -23px;
    width: 100%;
    color: #acacab;
}
.top-more-item b{
    position: absolute;
    top: 17px;
    font-size: 50px;
    line-height: 50px;
    font-weight: 900;
    overflow: hidden;
    height: 25px;
    left: -52px;
    width: 100%;
    color: #3f3f3f;
}
#top-right{
    position: absolute;
    display: block;
    top: 48px;
    right: 60px;
    z-index: 101;
}
#top-right a{
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    color: #acacab;
    text-decoration: none;
}
#top-right a#cart-count{
    line-height: 36px;
    color: #1b1b1b;
}
#top-right a:hover{
    color: #fff;
}
#white-top #top-right a:hover{
    color: #1b1b1b;
}
#page-top.white-top-content #top-right a:hover{
    color: #1b1b1b;
}
.white-top-content #top-right a:hover{
    color: #1b1b1b;
}
#burger{
    position: absolute;
    display: none;
    top: 16px;
    right: 15px;
    width: 30px;
    transform: scale(1);
}
.burger-line{
    position: relative;
    display: block;
    margin-bottom: 5px;
    width: 30px;
    height: 2px;
    transition: all 100ms linear;
    opacity: 1;
    background: #454c52;
}
.burger-line:last-child{
    width: 20px;
    left: 10px;
}
#burger.active{
    transform: scale(0.8);
}
#burger.active .burger-line:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
}
#burger.active .burger-line:nth-child(2){
    opacity: 0;
}
#burger.active .burger-line:nth-child(3){
    width: 30px;
    left: 0;
    top: -5px;
    transform: rotate(45deg);
}

#search-btn{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
    background: url(../img/search_w.png) no-repeat 50% 45%;
    background-size: 23px 23px;
    margin-left: 20px;
    cursor: pointer;
    opacity: 0.7;
}
#search-btn:hover{
    opacity: 1;
}
.white-top-content #search-btn{
    background: url(../img/search.png) no-repeat 50% 45%;
    background-size: 23px 23px;
    opacity: 0.4;
}
.white-top-content #search-btn:hover{
    opacity: 1;
}
#wishlist-btn{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
    background: url(../img/like.png) no-repeat;
    background-size: 100% 100%;
    margin-left: 20px;
    cursor: pointer;
}
#cart-count{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    margin-left: 20px;
    background: #fff;
    color: #131313;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
}
#white-top #cart-count{
    background: #f7f7f5;
}
#page-top.white-top-content #cart-count{
    background: #f7f7f5;
}
.white-top-content #cart-count{
    background: #f7f7f5;
}
#cart-count.green{
    background: #b2e32f !important;
}

.content{
    position: relative;
    display: block;
    margin-left: 230px;
}

#bestsellers-title{
    position: relative;
    display: block;
    font-size: 64px;
    line-height: 64px;
    font-weight: 600;
    color: #1b1b1b;
    padding: 165px 0 120px 7.4%;
}
#bestsellers-items{
    position: relative;
    display: block;
    white-space: nowrap;
    font-size: 0;
    padding-bottom: 350px;
    left:0;
    transition: all 400ms ease-in-out;
}
.bestsellers-item{
    position: relative;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    width: 42.65%;
    text-decoration: none;
    margin-right: 3.81%;
}
.bestsellers-item img{
    width: 100%;
    margin-bottom: 56px;
}
.bestsellers-item-info{
    margin-left: 17.2%;
}
.bestsellers-item-info small{
    position: relative;
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #acacab;
    line-height: 20px;
}
.bestsellers-item-info b{
    position: relative;
    display: block;
    font-size: 42px;
    color: #1b1b1b;
    line-height: 42px;
    margin-bottom: 15px;
}
.bestsellers-item-info span{
    position: relative;
    display: block;
    font-size: 20px;
    color: #1b1b1b;
    line-height: 24px;
    margin-bottom: 35px;
}
.bestsellers-price{
    position: relative;
    display: block;
    font-size: 30px;
    color: #1b1b1b;
    line-height: 36px;
    font-weight: 600;
}
.bestsellers-price small{
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-family: 'PT Rouble Sans';
    color: #1b1b1b;
}
.bestsellers-links{
    position: absolute;
    right: 0;
    top: 0;
}
.bestsellers-links a{
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 36px;
    height: 30px;
    color: #1b1b1b;
    text-decoration: none;
    font-weight: 500;
    opacity: 0.3;
}
.bestsellers-links a:hover{
    opacity: 1;
}
.bestsellers-links a.add-to-cart{
    padding-right: 40px;
    background: url(../img/p_plus.png) no-repeat 100% 50%;
}
.bestsellers-links a.add-to-wishlist{
    width: 88px;
    background: url(../img/p_like.png) no-repeat 50% 50%;
    background-size: auto 22px;
}
.bestsellers-links-border{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 1px;
    height: 30px;
    margin-left: 30px;
    background: #1b1b1b;
    opacity: 0.3;
}

#home-blog{
    position: relative;
    display: block;
    background: #1b1b1b;
    width: 77.7%;
    left: 17.52%;
    top: -193px;
    padding: 90px 0px 160px 0px;
    box-sizing: border-box;
}
#home-blog-img{
    position: absolute;
    display: block;
    left: 0;
    max-width: 39.82%;
    height: auto;
    top: 45px;
    margin-top: -193px;
}
.white-container{
    position: relative;
    display: block;
    width: 100%;
    background: #ffffff;
}
#home-blog-info{
    position: relative;
    padding: 0 17.1% 0 417px;

}
.home-blog-subtitle{
    position: relative;
    display: block;
    font-size: 12px;
    margin-bottom: 35px;
    text-transform: uppercase;
    color: #666666;
}
#home-blog-info a{
    text-decoration: none;
}
.home-blog-title{
    position: relative;
    display: block;
    font-size: 50px;
    line-height: 50px;
    margin-left: -63px;
    color: #fff;
    font-weight: 600;
}
.home-blog-text{
    position: relative;
    display: block;
    margin-top: 40px;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}
.home-blog-text a.home-blog-text-link{
    margin-top: 0px;
    color: #fff;
}
.home-blog-text a.show-more{
    margin-top: 60px;
}

#instagram-block{
    position: relative;
    z-index: 1;
    margin-bottom: -60px;
}
.instagram-title{
    position: relative;
    padding-bottom: 80px;
    padding-left: 7.4%;
    font-size: 50px;
    line-height: 50px;
    font-weight: 900;
}
.instagram-title small{
    font-size: 30px;
    line-height: 50px;
}
#instagram-photos{
    font-size: 0;
}
#instagram-photos img{
    width: 19%;
    vertical-align: top;
}
#footer{
    position: relative;
    display: block;
    width: 100%;
    height: 395px;
    background: #e3e3e3;
}
#footer-copyright{
    position: absolute;
    display: block;
    width: calc(100% - 230px);
    right: 0;
    bottom: 0;
    border-top: #acacab solid 1px;
    height: 84px;
}
#footer-present{
    position: absolute;
    display: block;
    font-size: 12px;
    line-height: 21px;
    right: 5.3%;
    top: 22px;
}
#footer-present b{
    font-size: 18px;
}
#footer-present a{
    color: #1b1b1b;
}
#footer-present img{
    position: absolute;
    display: block;
    left: -84px;
    top: -47px;
}
#footer-copyright span{
    position: absolute;
    display: block;
    top: 22px;
    font-size: 12px;
    line-height: 22px;
    color: #828282;
}
.footer-items{
    position: absolute;
    display: block;
    top: 180px;
    left: 16.81%;
}
.footer-items:nth-child(2){
    left: 35.39%;
}
.footer-items:nth-child(3){
    left: 54.24%;
}
.footer-items:nth-child(4){
    left: 77.43%;
}
.footer-items a{
    position: relative;
    display: block;
    font-size: 12px;
    line-height: 24px;
    color: #1b1b1b;
    text-decoration: none;
}
.footer-items a.soc{
    position: relative;
    display: inline-block;
    width: 23px;
    height: 23px;
    background: url(../img/soc_fb.png) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0.3;
    margin-right: 12px;
    transition: all 100ms linear;
}
.footer-items a.soc:hover{
    opacity: 1;
}
.footer-items a.soc:nth-child(2){
    background: url(../img/soc_in.png) no-repeat 50% 50%;
    background-size: contain;
}
.footer-items a.soc:nth-child(3){
    background: url(../img/soc_tw.png) no-repeat 50% 50%;
    background-size: contain;
}
.footer-items a.soc:nth-child(4){
    background: url(../img/soc_pt.png) no-repeat 50% 50%;
    background-size: contain;
}
.footer-items b{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

#white-top{
    position: relative;
    display: block;
    background: #fff;
    min-height: 100%;
}
.text-page-content{
    padding-left: 7.4%;
    padding-top: 205px;
    width: 778px;
    padding-bottom: 66px;
    font-size: 18px;
    line-height: 32px;
}
.text-page-content h3{
    font-size: 24px;
    line-height: 24px;
    padding: 0;
    margin: 0;
}
.text-page-content h2{
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin: 10px 0 40px;
}
.text-page-content p{
    margin-bottom: 70px;
}

.page-bookmark{
    position: absolute;
    display: block;
    padding-left: 7.4%;
    top: 20%;
    font-size: 11px;
    line-height: 14px;
}
.text-header{
    position: absolute;
    display: block;
    padding-left: 7.4%;
    top: 265px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}
.text-header h1{
    font-size: 64px;
    line-height: 64px;
    font-weight: 900;
    margin-bottom: 115px;
    margin-top: 0;
}
.text-header small{
    position: absolute;
    display: block;
    text-transform: uppercase;
    top: -35px;
    font-size: 12px;
    color: #acacab;
    font-weight: 400;
    letter-spacing: 1px;
}
.about-content{
    padding-left: 7.4%;
    padding-top: 205px;
    padding-right: 280px;
    padding-bottom: 0px;
    font-size: 18px;
    line-height: 32px;
}
.about-big-text{
    position: relative;
    display: block;
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    margin: 50px 0 130px;
}
.big-gallery{
    position: relative;
    display: block;
    width: 778px;
    left: 7.4%;
    height: 660px;
    border-bottom: #d2d2d2 solid 1px;
    margin-bottom: 140px;
}
.big-gallery-images{
    position: relative;
    display: block;
    height: 607px;
    left: 0;
    white-space: nowrap;
    font-size: 0;
    transition: all 400ms ease-in-out;
}
.big-gallery-image{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 45px;
    width: 100%;
    height: 607px;
    opacity: 0.1;
    transition: all 400ms linear;
}
.big-gallery-image:first-child{
    opacity: 1;
}
.big-gallery-next{
    position: absolute;
    display: block;
    width: 73px;
    height: 80px;
    background: url(../img/p_arrow.svg) no-repeat 50% 50%;
    top: 303px;
    margin-top: -40px;
    left: 98%;
    cursor: pointer;
}
.big-gallery-num{
    position: relative;
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #bfbfbf;
    font-weight: 500;
}
.big-gallery-num b{
    color: #1b1b1b;
}


.info-gallery-block{
    position: relative;
    display: block;
    /*left: 7.4%;*/
    margin-top: 80px;
}
.info-gallery{
    position: relative;
    display: block;
    width: 430px;
    left: 346px;
    height: 660px;
    border-bottom: #d2d2d2 solid 1px;
    margin-bottom: 140px;
}
.info-gallery-images{
    position: relative;
    display: block;
    height: 607px;
    left: 0;
    white-space: nowrap;
    font-size: 0;
    transition: all 400ms ease-in-out;
}
.info-gallery-image{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 45px;
    width: 100%;
    height: 607px;
    opacity: 0.1;
    transition: all 400ms linear;
}
.info-gallery-image:first-child{
    opacity: 1;
}
.info-gallery-next{
    position: absolute;
    display: block;
    width: 73px;
    height: 80px;
    background: url(../img/p_arrow.svg) no-repeat 50% 50%;
    top: 303px;
    margin-top: -40px;
    left: 98%;
    cursor: pointer;
}
.info-gallery-num{
    position: relative;
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #bfbfbf;
    font-weight: 500;
}
.info-gallery-num b{
    color: #1b1b1b;
}
#about-info{
    padding-left: 7.4%;
    padding-right: 7.4%;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 170px;
}
.about-info{
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 30px;
}
.about-info b{
    position: relative;
    display: block;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 36px;
}
#product-top{
    position: fixed;
    /*padding-left: 7.4%;*/
    margin-right: 0%;
    margin-left: 230px;
    padding-top: 250px;
    top: 0;
    width: calc(100% - 230px);
    transform: translateY(0px);
    /*height: 100%;*/
}
#product-top-right{
    position: absolute;
    width: 34.86%;
    top: 250px;
    right: 10.62%;
}
.product-top-title{
    position: relative;
    display: block;
    font-size: 42px;;
    line-height: 42px;
    font-weight: 900;
    margin-bottom: 15px;
}
.product-top-short{
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
}
.product-top-size{
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}
.product-top-price{
    position: relative;
    display: block;
    text-align: justify;
    font-size: 30px;
    line-height: 30px;
    padding-top: 40px;
    border-top: #1b1b1b solid 1px;
}
.product-top-items{
    position: relative;
    display: block;
    border-top: #1b1b1b solid 3px;
    margin-top: 30px;
}
.product-top-item{
    position: relative;
    display: inline-block;
    color: #1b1b1b;
    text-decoration: none;
    width: 32%;
    margin-right: 4.3%;
    font-size: 13px;
    line-height: 17px;
}
.product-top-item:hover{
    color: #acacab;
}
.product-top-item b{
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
}
.product-top-item-img{
    width: 123px;
    height: 157px;
    border: #e9e9e9 solid 1px;
    margin-top: 28px;
    margin-bottom: 20px;
}
.product-top-item:hover .product-top-item-img{
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

/*.product-top-price span.rub{*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*padding-left: 5px;*/
    /*font-size: 18px;*/
    /*font-family: 'PT Rouble Sans';*/
/*}*/
.product-image{
    position: absolute;
    display: block;
    width: 37.96%;
    right: 48.76%;
}
.product-image-size{
    position: absolute;
    display: none;
    width: 37.96%;
}
.product-image img{
    width: 100%;
    /*max-width: 427px;*/
}
.product-page .white-top{
    width: 100%;
    margin-left: 0;
}
.product-page #fixed-left-menu{
    position: fixed;
    transform: translateY(0px);
}

.product-page #top-right{
    position: fixed;
    transform: translateY(0px);
}

body.productscroll #white-top{
    padding-top: 800px;
}
.product-page.productscroll #fixed-left-menu{
    position: absolute;
    transform: translateY(800px);
}

.product-page.productscroll #top-right{
    position: absolute;
    transform: translateY(800px);
}

.product-page.productscroll #product-top{
    position: absolute;
    transform: translateY(800px);
}
#product-top-left{
    position: absolute;
    width: 23.0%;
    top: 250px;
    left: 7.26%;
    font-size: 16px;
    line-height: 24px;
    opacity: 0;
    transition: all 100ms linear;
}
.product-page.productscroll #product-top-left{
    transition: all 300ms linear;
    opacity: 1;
}

.product-top-left-title{
    position: relative;
    display: block;
    font-size: 36px;
    line-height: 36px;
    font-weight: 900;
    margin-bottom: 18px;
}
#product-top-left small{
    position: absolute;
    display: block;
    top: -30px;
    font-size: 14px;
    line-height: 20px;
    color: #acacab;
}
#products-bookmarks{
    position: absolute;
    display: block;
    top: 145px;
    font-size: 11px;
    line-height: 14px;
    right: 29.82%;
    color: #acacab;
}
#products-bookmarks.left-position{
    right: auto;
    left: 7.4%;
}
#products-bookmarks a{
    text-decoration: none;
    color: #acacab;
    margin: 0 4px;
}
#products-bookmarks span{
    position: relative;
    display: inline-block;
    margin: 0 4px;
    color: #1b1b1b;
}
.price-block{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 30px;
}

.price-block:first-child{
    font-size: 30px;
    line-height: 30px;
}
.price-block:first-child span.rub{
    padding-left: 5px;
    font-size: 18px;
    font-family: 'PT Rouble Sans';
}
.price-devider{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 30px;
    background: #e6e6e6;
}
.price-devider.big-divider{
    height: 48px;
    top: 0px;
}
.price-block.to-card{
}
.price-block.to-card a{
    position: relative;
    display: block;
    font-weight: 600;
    color: #1b1b1b;
    text-decoration: none;
    padding-right: 40px;
    background: url(../img/add_ok.png) no-repeat 100% 50%;
    background-size: 30px 30px;
}
.price-block.to-wishlist a{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/p_like.png) no-repeat 100% 50%;
    background-size: 30px 30px;
}

#catalog-title{
    position: relative;
    display: block;
    font-size: 64px;
    font-weight: 900;
    padding-left: 7.4%;
    padding-top: 120px;
    line-height: 64px;
}
#catalog-title span{
    color: #acacab;
}
#filter{
    position: relative;
    padding-left: 7.4%;
    padding-top: 45px;
    margin-bottom: 120px;
}
#filter a{
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 20px;
    margin-right: 25px;
    color: #acacab;
    text-decoration: none;
}
#filter a:hover{
    color: #1b1b1b
}
#filter a.active{
    color: #1b1b1b
}


.product{
    position: relative;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    width: 29.5%;
    text-decoration: none;
    margin-right: 2.81%;
    margin-bottom: 120px;
}
.product a{
    text-decoration: none;
}
.product img{
    width: 100%;
    margin-bottom: 56px;
}
.product-info{
    margin-left: 17.2%;
}
.product-info small{
    position: relative;
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #acacab;
    line-height: 20px;
}
.product-info small:hover{
    color: #1b1b1b;
}
.product-info b{
    position: relative;
    display: block;
    font-size: 42px;
    color: #1b1b1b;
    line-height: 42px;
    margin-bottom: 15px;
}
.product-info b:hover{
    color: #acacab;
}
.product-info span{
    position: relative;
    display: block;
    font-size: 20px;
    color: #1b1b1b;
    line-height: 24px;
    margin-bottom: 35px;
}
.product-info span:hover{
    color: #acacab;
}
.product-price{
    position: relative;
    display: block;
    font-size: 30px;
    color: #1b1b1b;
    line-height: 36px;
    font-weight: 600;
}
.product-price small{
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-family: 'PT Rouble Sans';
    color: #1b1b1b;
}
.product-links{
    position: absolute;
    right: 0;
    top: 0;
}
.product-links a{
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 36px;
    height: 30px;
    color: #1b1b1b;
    text-decoration: none;
    font-weight: 500;
    opacity: 0.3;
}
.product-links a:hover{
    opacity: 1;
}
.product-links a.add-to-cart{
    padding-right: 40px;
    /*background: url(../img/p_plus.png) no-repeat 100% 50%;*/
}
.product-links a.add-to-cart:after{
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    right: 0;
    top: 2px;
    border-radius: 26px;
    content: "+";
    line-height: 26px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    border: #1b1b1b solid 1px;
}
.product-links a.add-to-cart:hover:after{
    background: #1b1b1b;
    color: #fff;
}
.product-links a.add-to-wishlist{
    width: 88px;
    background: url(../img/p_like.svg) no-repeat 50% 50%;
    background-size: 22px 22px;
}
.product-links a.add-to-wishlist:hover:after{
    position: absolute;
    display: block;
    content: "Вишлист";
    font-size: 11px;
    line-height: 14px;
    font-weight: 400;
    color: #1b1b1b;
    width: 60px;
    text-align: center;
    left: 50%;
    margin-left: -30px;
    top: -15px;
}
.product-links-border{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 1px;
    height: 30px;
    margin-left: 30px;
    background: #1b1b1b;
    opacity: 0.3;
}
#product-brands{
    position: relative;
    display: block;
    margin-right: 10.62%;
    font-size: 0;
    white-space: nowrap;
    z-index: 1;
    margin-bottom: -58px;
}
.product-brand{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 679px;
    margin-right: 4.07%;
}
.product-brand img{
    position: absolute;
    display: block;
    right: 0;
    top: 0;
}
.product-brand-info{
    position: absolute;
    display: block;
    width: calc(100% - 473px);
    height: 625px;
    padding: 133px 7.7% 0 7.7%;
    left: 0;
    bottom: 0;
    background: #fff;
    font-size: 18px;
    line-height: 22px;
    white-space: normal;
    box-sizing: border-box;
}
.product-brand-info b{
    position: relative;
    display: block;
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 34px;

}
.product-brand a{
    margin-top: 40px;
}
.product-brand a:hover{
    color: #1b1b1b;
}
#product-brands-list{
    position: relative;
    display: block;
    left: 0;
    transition: all 500ms ease-in-out;
}

.product-brands-next{
    position: absolute;
    display: block;
    width: 73px;
    height: 80px;
    background: url(../img/p_arrow.svg) no-repeat 50% 50%;
    top: 50%;
    margin-top: -40px;
    left: 99.3%;
    cursor: pointer;
}

#blog-list-title{
    position: relative;
    display: block;
    font-size: 64px;
    font-weight: 600;
    padding-left: 7.4%;
    padding-top: 195px;
    line-height: 64px;
}
#blog-list-title span{
    color: #acacab;
}
#blog-list-title a{
    color: #acacab;
    text-decoration: none;
    font-size: 40px;
}
#blog-list-title a:hover{
    color: #1b1b1b;
}
.list-bookmarks{
    position: relative;
    display: block;
    padding-top: 40px;
    padding-left: 7.4%;
    margin-bottom: 120px;
}
.list-bookmarks a{
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #acacab;
    margin-right: 26px;
    line-height: 22px;
    text-decoration: none;
}
.list-bookmarks a:hover{
    color: #1b1b1b;
}
.blog-items{
    position: relative;
    display: block;
    margin-right: 7.08%;
    font-size: 0;
}
.blog-item{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 29.794%;
    margin-right: 3.539%;
    margin-bottom: 130px;
    text-decoration: none;
}
.blog-item.double-blog-size{
    width: 63.127%;
}
.blog-item img{
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 30px;
    transition: all 100ms linear;
}
.blog-item small{
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #acacab;
    margin-bottom: 10px;
    transition: all 100ms linear;
}
.blog-item span{
    position: relative;
    display: block;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    transition: all 100ms linear;
    color: #1b1b1b;
}
.blog-item.double-blog-size  span{
    font-size: 36px;
    line-height: 44px;
}

.blog-item img:hover{
    opacity: 0.35;
}
.blog-item small:hover{
    color: #1b1b1b;
}
.blog-item span:hover{
    color: #acacab;
}
.blog-item .blog-img{
    position: relative;
    display: block;
}
.blog-item-play{
    position: absolute;
    display: none;
    right: 0;
    bottom: 0;
    width: 76px;
    height: 54px;
    background: #f9f9f9;
}
.blog-item-play:after{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 76px;
    height: 54px;
    content: "";
    background: url(../img/top_play.svg) no-repeat 50% 50%;
}
.blog-item-play:hover{
    background: #1b1b1b;
}
.blog-item-play:hover:after{
    background: url(../img/top_play_h.svg) no-repeat 50% 50%;
}
.load-more-link-block{
    position: relative;
    display: block;
    margin-bottom: 100px;
    margin-right: 10.619%;
    text-align: center;
}
.load-more{
    position: relative;
    display: inline-block;
    width: 48px;
    height: 41px;
    background: url(../img/laod_more.svg) no-repeat 0% 0%;
    opacity: 0.3;
}
.load-more:hover{
    opacity: 1;
    animation: rotate-more-loader 1s linear infinite;
}
@keyframes rotate-more-loader {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(-360deg)}
}

.blog-content{
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 400;
    padding-left: 7.4%;
    padding-top: 195px;
    line-height: 30px;
    width: 778px;
}
.blog-big-text{
    position: relative;
    display: block;
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
}
.blog-content h2{
    margin: 0;
    margin-top: 80px;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 25px;
}
.blog-content .big-gallery{
    left: 0;
    margin-top: 95px;
    margin-bottom: 130px;
}
.info-gallery-text{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 305px;
}
.blog-open-footer{
    position: absolute;
    display: block;
    font-size: 11px;
    width: 778px;
    color: #acacab;
    top: 100%;
    margin-top: 100px;
}
.blog-open-footer span{
    color: #1b1b1b;
    margin-right: 30px;
}
.blog-footer-social{
    position: absolute;
    display: block;
    right: -10px;
    top: 0;
}
.blog-footer-social a.soc{
    position: relative;
    display: inline-block;
    width: 23px;
    height: 23px;
    background: url(../img/soc_fb.png) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0.3;
    margin-right: 12px;
    transition: all 100ms linear;
}
.blog-footer-social a.soc:hover{
    opacity: 1;
}
.blog-footer-social a.soc:nth-child(2){
    background: url(../img/soc_tw.png) no-repeat 50% 50%;
    background-size: contain;
}
.height100{
    min-height: 100%;
    background: #fff;
}
.footer-form{
    position: relative;
    display: block;
    margin-bottom: 0;
    padding-bottom: 213px;
    margin-left: 7.4%;
}
.footer-form-title{
    position: relative;
    display: block;
    font-size: 32px;
    line-height: 40px;
    padding-top: 140px;
    padding-bottom: 80px;
    font-weight: 600;
}
.footer-form-block{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 36.07%;
    margin-right: 13.36%;
}
.input-block{
    position: relative;
    display: block;
    height: 40px;
    margin-bottom: 30px;;
}
.input-block input{
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    border: 0;
    border-bottom: #e6e6e6 solid 1px;
    outline: none;
    color: #1b1b1b;
    background: none;
    font-family: 'HelveticaNeueCyr';
    width: 100%;
    font-size: 20px;
}
.footer-form-block .textarea-block textarea{
    position: relative;
    display: block;
    height: 180px;
    line-height: 30px;
    padding: 5px 0;
    border: 0;
    border-bottom: #e6e6e6 solid 1px;
    outline: none;
    color: #1b1b1b;
    background: none;
    font-family: 'HelveticaNeueCyr';
    width: 100%;
    font-size: 20px;
    resize: none;
}
.input-block input:focus{
    border-bottom: #1b1b1b solid 1px;
}
.footer-form-block .textarea-block textarea::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 13px;
    color: #acacab;
}
.footer-form-block .textarea-block textarea:-moz-placeholder { /* Firefox 18- */
    font-weight: 400;
    font-size: 13px;
    color: #acacab;
}
.footer-form-block .textarea-block textarea::-moz-placeholder {  /* Firefox 19+ */
    font-weight: 400;
    font-size: 13px;
    color: #acacab;
}
.footer-form-block .textarea-block textarea:-ms-input-placeholder {
    font-weight: 400;
    font-size: 13px;
    color: #acacab;
}
.input-block span{
    position: absolute;
    display: block;
    font-size: 13px;
    color: #acacab;
    line-height: 40px;
    top: 0;
}
.input-block.active span{
    left: auto;
    right: 0;
}
.textarea-block{
    position: relative;
    height: 180px;
}
.form-confirm{
    position: relative;
    display: block;
    padding-left: 30px;
    font-size: 13px;
    line-height: 16px;
    margin-top: 40px;
    cursor: pointer;
}
.form-confirm:before{
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    content: "";
    background: #1b1b1b;
}
.form-confirm:after{
    position: absolute;
    display: none;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    content: "";
    background: url(../img/chb.png) no-repeat 50% 45%;
    background-size: 14px auto;
}
.form-confirm.active:after{
    display: block;
}
#send-form{
    position: relative;
    display: block;
    width: 190px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #1b1b1b;
    text-decoration: none;
    margin-top: 40px;
    border: #1b1b1b solid 1px;
}
#send-form:hover{
    color: #fff;
    background: #1b1b1b;
}
.text-page-submenu{
    position: absolute;
    display: block;
    top: 95px;
    left: 7.4%;
}
.text-page-submenu a{
    font-size: 14px;
    line-height: 18px;
    color: #acacab;
    margin-right: 28px;
    text-decoration: none;
}
.text-page-submenu a.active{
    color: #1b1b1b;
}
.text-page-submenu a:hover{
    color: #1b1b1b;
}
.address-block{
    position: relative;
    display: block;
    margin-bottom: 30px;
}
a.show-on-map{
    position: absolute;
    display: block;
    left: 346px;
    top: 0;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    color: #7f7f7e;
    text-decoration: none;
    transition: all 300ms linear;
}
a.show-on-map:after{
    position: absolute;
    display: block;
    content: "";
    width: 46px;
    height: 1px;
    top: 90%;
    background: #acacab;
    transition: all 300ms ease-out;
}
a.show-on-map:hover{
    color: #1b1b1b;
}
a.show-on-map:hover:after{
    background: #1b1b1b;
    width: 81px;
}
#right-cart{
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    visibility: hidden;
}
#right-cart-bg{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 27, 27, 0.97);
    transition: all 300ms linear;
    opacity: 0;
}
#right-cart.active{
    visibility: visible;
}
#right-cart.active #right-cart-bg{
    opacity: 1;
}
#right-cart-block{
    position: absolute;
    display: block;
    width: 450px;
    background: #f9f9f9;
    right: -450px;
    top: 0;
    height: 100%;
    transition: all 300ms ease-out;
}
#right-cart.active #right-cart-block{
    right: 0;
}

#right-cart-title{
    position: relative;
    display: block;
    width: 396px;
    left:25px;
    padding-bottom: 40px;
    padding-top: 98px;
    color: #1b1b1b;
    font-size: 32px;
    font-weight: 900;
    line-height: 32px;
    border-bottom: #e2e2e1 solid 1px;

}
#right-cart-title span{
    color: #acacab;
}
#right-cart-footer{
    position: absolute;
    display: block;
    width: 396px;
    height: 208px;
    left: 25px;
    bottom: 0;
    border-top: #e2e2e1 solid 1px;
}
#right-cart-footer span{
    position: absolute;
    display: block;
    left: 145px;
    top: 50px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
}
#right-cart-footer b{
    font-size: 30px;
    line-height: 30px;
    font-weight: 900;
    margin-left: 10px;
}
#right-cart-footer small{
    font-size: 18px;
    font-weight: 400;
    margin-left: 5px;
    font-family: 'PT Rouble Sans';
}
#right-cart-buttons{
    position: absolute;
    display: block;
    top: 125px;
    width: 100%;
    left:0;
    white-space: nowrap;
}
#right-cart-buttons a{
    position: relative;
    display: inline-block;
    width: 190px;
    height: 50px;
    margin-right: 5px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #1b1b1b;
    text-decoration: none;
    border: #1b1b1b solid 1px;
}
#right-cart-buttons a:last-child{
    color: #bfbfbf;
    border: #bfbfbf solid 1px;
}
#right-cart-buttons a:hover{
    color: #fff;
    background: #1b1b1b;
}
#right-cart-list{
    position: absolute;
    display: block;
    width: 450px;
    height: calc(100% - 377px);
    overflow-y: scroll;
    top: 170px;
}
#right-cart-list::-webkit-scrollbar-thumb {
    background: #acacab;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}
#right-cart-list::-webkit-scrollbar {
    width: 10px;
}
#right-cart-list::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    background: #e2e2e1;
}

.right-cart-item{
    position: relative;
    display: block;
    padding-top: 10px;
    text-decoration: none;
    color:#1b1b1b;
}
.right-cart-item:last-child{
    padding-bottom: 10px;
}
.right-cart-img{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 125px;
    height: 158px;
    margin-right: 20px;
    margin-left: 25px;
}
.right-cart-item:hover .right-cart-img{
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
.right-cart-item-text{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 220px;
}
.right-cart-item-text b{
    position: relative;
    display: block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.right-cart-item:hover b{
    color: #acacab;
}
.right-cart-item-text td:first-child{
    font-size: 13px;
    line-height: 20px;
    width: 89px;
}
.right-cart-item-text td:last-child{
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}
.right-cart-item-text td:last-child small{
    font-size: 13px;
    font-weight: 400;
    font-family: 'PT Rouble Sans';
}
#close-cart{
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    right: 26px;
    top: 53px;
    background: url(../img/close_modal.png) no-repeat 50% 50%;
    background-size: 100% 100%;
    cursor: pointer;
    opacity: 0.3;
}
#close-cart:hover{
    opacity: 1;
}


#auth-modal{
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    visibility: hidden;
}
#auth-bg{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/auth.png) no-repeat 50% 50%;
    background-size: cover;
    transition: all 300ms linear;
    opacity: 0;
}
#auth-modal.active{
    visibility: visible;
}
#auth-modal.active #auth-bg{
    opacity: 1;
}
#auth-block{
    position: absolute;
    display: block;
    width: 450px;
    background: #f9f9f9;
    right: -450px;
    top: 0;
    height: 100%;
    transition: all 300ms ease-out;
}
#auth-modal.active #auth-block{
    right: 0;
}
a#auth-logo{
    position: absolute;
    left: 60px;
    top: 34px;
    width: 46px;
    height: 56px;
    background: url(../img/logo.png) no-repeat;
    background-size: 100% 100%;
    mix-blend-mode: multiply;
}
#close-auth{
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    right: 26px;
    top: 53px;
    background: url(../img/close_modal.png) no-repeat 50% 50%;
    background-size: 100% 100%;
    cursor: pointer;
    opacity: 0.3;
}
#close-auth:hover{
    opacity: 1;
}
#auth-title{
    position: relative;
    display: block;
    width: 396px;
    left:25px;
    padding-top: 98px;
    color: #1b1b1b;
    font-size: 32px;
    font-weight: 900;
    line-height: 32px;
}
#auth-form-block{
    position: absolute;
    display: block;
    width: 425px;
    left: 25px;
    height: calc(100% - 167px);
    bottom: 0;
    overflow-y: scroll;
}
#auth-form-block::-webkit-scrollbar-thumb {
    background: #acacab;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}
#auth-form-block::-webkit-scrollbar {
    width: 10px;
}
#auth-form-block::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    background: #e2e2e1;
}
#auth-social{
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 20px;
}
#auth-social a{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    opacity: 0.3;
}
#auth-social a:hover{
    opacity: 1;
}
.auth-form-block{
    width: 395px;
    margin-top: 35px;
}
.auth-buttons{
    position: relative;
    display: block;
    width: 100%;
    left:0;
    white-space: nowrap;
    margin-top: 40px;
}
.auth-buttons a{
    position: relative;
    display: inline-block;
    width: 190px;
    height: 50px;
    margin-right: 6px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #1b1b1b;
    text-decoration: none;
    border: #1b1b1b solid 1px;
}
.auth-buttons a:last-child{
    color: #bfbfbf;
    border: #bfbfbf solid 1px;
}
.auth-buttons a:hover{
    color: #fff;
    background: #1b1b1b;
}
.auth-form-block .form-confirm{
    margin-top: 25px;
}
.auth-title{
    position: relative;
    display: block;
    width: 396px;
    padding-top: 50px;
    margin-bottom: 30px;
    color: #1b1b1b;
    font-size: 32px;
    font-weight: 900;
    line-height: 32px;
}
#auth-form-block h3{
    position: relative;
    display: block;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}
.subscribe-btn{
    margin-top: 25px;
    margin-bottom: 30px;
}
#white-top.margin-bottom{
    /*margin-bottom: calc(257px - 100%);*/
}
.footer-brands-links a{
    position: relative;
    display: block;
    font-size: 18px;
    color: #1b1b1b;
    line-height: 36px;
    text-decoration: none;
    margin-top: 0;
}
.footer-brands-links a:hover{
    color: #acacab;
}
#brand-info{
    position: relative;
    display: block;
    padding-left: 365px;
    margin-left: 7.4%;
    margin-top: 100px;
    margin-bottom: 280px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin-right: 10.62%;
}
#brand-info img{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    mix-blend-mode: multiply;
}
#search-modal{
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
    background: rgba(255,255,255,.97);
    z-index: 10000;
    overflow-y: scroll;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms linear;
}
#search-modal.active{
    opacity: 1;
    visibility: visible;
}
#close-search{
    position: fixed;
    display: block;
    width: 18px;
    height: 18px;
    right: 26px;
    top: 53px;
    background: url(../img/close_modal.png) no-repeat 50% 50%;
    background-size: 100% 100%;
    cursor: pointer;
    opacity: 0.3;
    z-index: 1;
}
#close-search:hover{
    opacity: 1;
}
.serch-half{
    position: relative;
    display: block;
    height: 50%;
}
#search-form{
    position: absolute;
    display: block;
    width: 768px;
    left: 50%;
    margin-top: -145px;
    margin-left: -384px;
    height: 145px;
}
#search-form b{
    position: relative;
    display: block;
    margin-bottom: 40px;
    font-size: 64px;
    line-height: 64px;
    font-weight: 900;
}
#search-form b{
    font-size: 64px;
    line-height: 64px;
    font-weight: 900;
}
#search-form-btn{
    position: absolute;
    display: block;
    left: 785px;
    width: 32px;
    top: 5px;
    height: 32px;
    background: url(../img/search.png) no-repeat 50% 45%;
    background-size: 23px 23px;
    cursor: pointer;
    opacity: 0.4;
}
#search-form-btn:hover{
    opacity: 1;
}
#result-items{
    position: relative;
    display: block;
    margin-top: 73px;
}
#result-items b{
    font-size: 18px;
    line-height: 20px;
}
#result-items b span{
    color: #acacab;
}
.result-item{
    position: relative;
    display: block;
    padding-top: 10px;
    text-decoration: none;
    color:#1b1b1b;
}
.result-item:last-child{
    padding-bottom: 10px;
}
.result-item-img{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 86px;
    height: 112px;
    margin-right: 20px;
}
.result-item:hover .result-item-img{
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
.result-item-text{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 220px;
}
.result-item-text b{
    position: relative;
    display: block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 0 !important;
}
.result-item:hover b{
    color: #acacab;
}
#brands-menu{
    position: fixed;
    display: block;
    width: calc(100% - 230px);
    height: 100%;
    top: 0;
    left: 230px;
    overflow: hidden;
    z-index: 100;
    visibility: hidden;
    transition: all 400ms linear;
}
#brands-menu.active{
    visibility: visible;
}
#brand-menu-items{
    position: absolute;
    display: block;
    width: 450px;
    left: -450px;
    transition: all 400ms ease-out;
    height: 100%;
    background: #f9f9f9;
}
#brands-menu.active #brand-menu-items{
    left: 0;
}
.brand-menu-items{
    padding-left: 25px;
    padding-top: 293px;
}
.brand-menu-items a{
    position: relative;
    display: block;
    font-size: 14px;;
    line-height: 36px;
    font-weight: 600;
    color: #1b1b1b;
    text-decoration: none;
}
.brand-menu-items a:hover{
    color: #acacab;
}
#brand-menu-right{
    position: absolute;
    display: block;
    width: calc(100% - 450px);
    height: 100%;
    right: calc(450px - 100%);
    transition: all 400ms ease-out;
    top: 0;
    background: #1b1b1b url(../img/brand_menu.png) no-repeat 50% 50%;
    background-size: contain;
}
#brands-menu.active #brand-menu-right{
    right: 0;
}
#close-brands{
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    right: 26px;
    top: 53px;
    background: url(../img/close_modal.png) no-repeat 50% 50%;
    background-size: 100% 100%;
    cursor: pointer;
    opacity: 0.3;
    z-index: 1;
}
#close-brands:hover{
    opacity: 1;
}
.bestsellers-next{
    position: absolute;
    display: block;
    width: 73px;
    height: 80px;
    background: url(../img/p_arrow.svg) no-repeat 50% 50%;
    top: 43%;
    margin-top: -40px;
    left: 93%;
    cursor: pointer;
}
#cart-page-title{
    position: relative;
    display: block;
    font-size: 64px;
    font-weight: 900;
    padding-left: 7.4%;
    padding-top: 265px;
    line-height: 64px;
}
#cart-page-title span{
    color: #acacab;
}

#cart-items{
    position: relative;
    display: block;
    margin-top: 175px;
    margin-left: 30px;
    margin-right: 120px;
    max-width: 985px;
}
.cart-item{
    position: relative;
    display: block;
    /*justify-content: space-between;*/
    margin-bottom: 12px;
}
.cart-item:first-child .cart-count:after{
    position: absolute;
    display: block;
    content: "Количество";
    left: 0;
    top: -90px;
    font-size: 13px;
    line-height: 13px;
    font-weight: 300;
    color: #9b9b9a;
}
.cart-item:first-child .cart-price:after{
    position: absolute;
    display: block;
    content: "Стоимость";
    left: 0;
    top: -90px;
    font-size: 13px;
    font-weight: 300;
    line-height: 13px;
    color: #9b9b9a;
}
.cart-item:first-child .cart-price.full-price:after{
    content: "Итого";
}
.cart-image{
    position: relative;
    display: block;
    width: 122px;
    height: 157px;
    border: #e9e9e9 solid 1px;
}
.cart-title{
    position: absolute;
    display: block;
    left: 140px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: #1b1b1b;
    text-decoration: none;
    top: 33px;
}
.cart-count{
    position: absolute;
    display: block;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #1b1b1b;
    width: 34px;
    border-left:#e9e9e9 solid 1px;
    border-right:#e9e9e9 solid 1px;
    left: 515px;
    top: 92px;
    text-align: center;
}
.cart-price{
    position: absolute;
    display: block;
    line-height: 32px;
    font-size: 16px;
    color: #1b1b1b;
    left: 640px;
    top: 92px;
    font-weight: 600;
}
.cart-price span{
    font-size: 13px;
    font-weight: 400;
    font-family: 'PT Rouble Sans';
}
.cart-price.full-price{
    left: 760px;
}
.cart-remove-btn{
    position: absolute;
    display: block;
    top: 94px;
    left: 873px;
    opacity: 0.5;
    cursor: pointer;
}
.cart-remove-btn:hover{
    opacity: 1;
}
.cart-remove-btn img{
    height: 22px;
}
.cart-wishlist-btn{
    position: absolute;
    display: block;
    top: 94px;
    left: 960px;
    opacity: 0.5;
    cursor: pointer;
}
.cart-wishlist-btn:hover{
    opacity: 1;
}
.cart-wishlist-btn img{
    height: 22px;
}
#cart-itog{
    position: relative;
    display: block;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 120px;
    max-width: 985px;
    text-align: right;
}
#cart-itog-block{
    position: relative;
    display: inline-block;
    width: 400px;
    border-top: #1b1b1b 4px solid;
    padding-top: 50px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    padding-bottom: 83px;
}
#cart-itog-block span{
    margin-left: 25px;;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
}
#cart-itog-block small{
    font-size: 18px;
    font-weight: 400;
    font-family: 'PT Rouble Sans';
}
#cart-itog-block #send-form{
    display: inline-block;
    margin-top: 60px;
}

.hover-link{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;;
    color: #acacab;
}
.hover-link:hover{
    color: #1b1b1b;
}
.hover-link:after{
    position: absolute;
    display: block;
    content: "";
    width: 48px;
    height: 1px;
    top: 100%;
    left:0;
    background: #acacab;
    transition: all 300ms ease-out;
}
.hover-link:hover:after{
    background: #1b1b1b;
    width: 100%;
}

#cart-itog-block .hover-link{
    margin-left: 44px;
}

#catalog-menu{
    position: fixed;
    display: block;
    width: calc(100% - 230px);
    height: 100%;
    top: 0;
    left: 230px;
    overflow: hidden;
    z-index: 100;
    visibility: hidden;
    transition: all 400ms linear;
}
#catalog-menu.active{
    visibility: visible;
}
#catalog-menu-items{
    position: absolute;
    display: block;
    width: 450px;
    left: -450px;
    transition: all 400ms ease-out;
    height: 100%;
    background: #f9f9f9;
}
#catalog-menu.active #catalog-menu-items{
    left: 0;
}
.catalog-menu-items{
    height: 263px;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 50px;
    border-bottom: #e2e2e1 solid 1px;
}
.catalog-menu-items-list{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 165px;
}
.catalog-menu-items a{
    position: relative;
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #1b1b1b;
    text-decoration: none;
}
.catalog-menu-items a:hover{
    color: #acacab;
}
#catalog-menu-right{
    position: absolute;
    display: block;
    width: calc(100% - 450px);
    height: 100%;
    right: calc(450px - 100%);
    transition: all 400ms ease-out;
    top: 0;
    background: #1b1b1b url(../img/catalog_menu.png) no-repeat 50% 50%;
    background-size: contain;
}
#catalog-menu.active #catalog-menu-right{
    right: 0;
}
#close-catalog-menu{
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    right: 26px;
    top: 53px;
    background: url(../img/close_modal.png) no-repeat 50% 50%;
    background-size: 100% 100%;
    cursor: pointer;
    opacity: 0.3;
    z-index: 1;
}
#close-catalog-menu:hover{
    opacity: 1;
}
#catalog-menu-products{
    position: absolute;
    display: block;
    bottom: 0;
    padding-left: 25px;
    padding-bottom: 40px;
    box-sizing: border-box;
    left:0;
    width: 100%;
    height: calc(100% - 313px);
    overflow-y: scroll;
}
#catalog-menu-products::-webkit-scrollbar-thumb {
    background: #acacab;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}
#catalog-menu-products::-webkit-scrollbar {
    width: 10px;
}
#catalog-menu-products::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    background: #e2e2e1;
}
#catalog-menu-title{
    position: relative;
    display: block;
    padding-left: 0px;
    font-size: 32px;
    line-height: 34px;
    font-weight: 600;
    color: #1b1b1b;
    padding-top: 64px;
    padding-bottom: 50px;
}
#catalog-menu-title span{
    color: #acacab;
}
#catalog-menu-products .product-top-item{
    margin-right: 5px;
    margin-bottom: 20px;
    width: 30%;
}
#catalog-menu-products .product-top-item .product-top-item-img{
    margin-top: 0;
}
.br-mobile-only{
    display: none;
}
#mobile-cart{
    position: absolute;
    display: none;
    vertical-align: top;
    text-decoration: none;
    width: 32px;
    height: 32px;
    right: 64px;
    top: 9px;
    border-radius: 32px;
    margin-left: 20px;
    background: #e3e3e3;
    color: #131313;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
}
#menu-items a.br-mobile-only{
    display: none;
}
@media screen and (max-width: 1500px) {
    .product{
        width: 42.65%;
        margin-right: 3.81%;
    }
    .bestsellers-next{
        left: 88%;
    }
}

@media screen and (max-width: 480px) {
    #all-content{
        overflow: hidden;
    }
    #top-right{
        display: none;
    }
    #burger{
        display: block;
    }
    a#logo {
        width: 23px;
        height: 30px;
        left: 15px;
        top: 10px;
    }
    #fixed-left-menu{
        width: 100%;
        height: 50px;
        position: fixed;
        z-index: 1000;
        /*background: rgba(255,255,255,0.9);*/
    }
    .content {
        margin-left: 15px;
        margin-right: 15px;
    }
    #catalog-title{
        padding-left: 0;
        font-size: 30px;
        padding-top: 25px;
        line-height: 40px;
    }
    #white-top{
        margin-bottom: 0 !important;
    }
    #filter {
        position: relative;
        padding-left: 0;
        padding-top: 25px;
        margin-bottom: 40px;
    }
    .product{
        width: 100%;
        margin-bottom: 60px;
    }
    .product-info {
        margin-left: 0;
    }
    .product img {
        margin-bottom: 25px;
    }
    .product-info b{
        font-size: 30px;
        line-height: 34px;
    }
    .product-info span {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 25px;
    }
    .product-links-border{
        margin-left: 20px;
    }
    .product-links a.add-to-wishlist{
        width: 62px;
    }
    #product-brands{
        margin-right: 0;
    }
    .product-brand-info{
        padding: 55px 7.7% 0 7.7%;
        width: 100%;
        bottom: auto;
        top: 0;
        height: 621px;
    }
    .product-brand img{
        position: absolute;
        z-index: 1;
        height: 325px;
        width: auto;
        bottom: 0;
        top: auto;
    }
    .product-brands-next {
        top: 0;
        margin-top: 0;
        left: auto;
        right: -10px;
    }
    .product-brand a {
        margin-top: 20px;
    }
    #white-top{
        min-height: auto;
    }
    #products-bookmarks.left-position{
        position: relative;
        padding-top: 80px;
        top:0;
        padding-bottom: 25px;
        left: 0;
    }
    .footer-items{
        position: relative;
        left: 0px;
        top:110px;
    }
    .footer-items:nth-child(2) {
        left: 0px;
    }
    .footer-items:nth-child(3) {
        position: absolute;
        left: 50%;
    }
    .footer-items:nth-child(4) {
        left: 50%;
        margin-left: -8px;
        top: 80px;
    }
    #footer-copyright{
        width: calc(100% - 15px);
    }
    #footer-copyright span {
        width: 120px;
        font-size: 11px;
        line-height: 20px;
    }
    .footer-items b {
        font-size: 26px;
        line-height: 29px;
        text-transform: uppercase;
    }
    #filter a{
        margin-right: 10px;
    }
    #menu-items{
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
        min-height: 1000px;
        left: -150%;
        background: #fff;
        padding-top: 40px;
        top: 50px;
        transform: skewX(-20deg);
        transition: all 300ms ease-in-out;
    }
    #menu-items.active{
        transform: skewX(0deg);
        left: 0;
    }
    #menu-items a{
        margin-left: 15px;
    }
    #catalog-menu{
        left: 50%;
        width: 50%;
        top: 50px;
    }
    #brands-menu{
        left: 50%;
        width: 50%;
        top: 50px;
    }
    .brand-menu-items {
        padding-left: 15px;
        padding-top: 45px;
    }
    #brands-menu.active #brand-menu-items{
        width: auto;
    }
    .brand-menu-items a{
        line-height: 20px;
        margin-bottom: 10px;
        width: calc(100% - 30px);
    }
    #catalog-menu-items{
        width: 100%;
    }
    #close-brands{
        display: none;
    }
    #brand-menu-right{
        display: none;
    }
    #catalog-menu-products{
        display: none;
    }
    #catalog-menu-right{
        display: none;
    }
    .catalog-menu-items {
        padding-left: 15px;
        padding-top: 45px;
        margin-left: 0;
        height: auto;
        border-bottom: 0;
    }
    .catalog-menu-items-list{
        display: block;
    }
    #close-catalog-menu{
        display: none;
    }
    #instagram-photos img:last-child{
        display: none;
    }
    #instagram-photos img {
        width: 50%;
    }
    .instagram-title {
        padding-bottom: 30px;
        padding-left: 0;
    }
    #home-blog {
        width: 100%;
        left: 0%;
        top: 0px;
        padding: 20px 0px 20px 0px;
        margin-bottom: 70px;
    }
    #home-blog-info {
        padding: 20px;
    }
    .home-blog-title{
        font-size: 40px;
        line-height: 42px;
        margin-left: 0;
    }
    #home-blog-img {
        left: 34%;
        max-width: 60%;
        top: 45px;
        margin-top: -110px;
    }
    .home-blog-subtitle{
        margin-top: 80px;
    }
    #bestsellers-items{
        padding-bottom: 100px;
    }
    .bestsellers-next{
        display: none;
    }
    #bestsellers-items .product{
        display: block;
        margin-bottom: 50px;
    }
    #bestsellers-title {
        font-size: 44px;
        line-height: 50px;
        padding: 0px 0 40px 0;
    }
    #page-top{
        width: 100%;
        left: 0;
        background: #f9f9f9;
    }
    .top-cover{
        width: 100%;
        height: 500px;
        top: -250px;
    }
    #top-content {
        margin-left: 20%;
        width: 80%;
        margin-top: 300px;
        padding-top: 30px;
        padding-bottom: 40px;
        min-height: auto;
    }
    .top-title {
        font-size: 44px;
        line-height: 50px;
        margin-left: 0;
    }
    .top-number {
        left: -86px;
        font-size: 60px;
        line-height: 50px;
        height: 25px;
        top: 3px;
    }
    #top-info {
        padding-left: 50px;
        padding-right: 20px;
    }
    .top-text {
        margin-top: 22px;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
    }
    #top-more-items {
        left: 50px;
        margin-top: 40px;
    }
    .top-more-item b {
        top: 15px;
        font-size: 34px;
        line-height: 34px;
        font-weight: 900;
        height: 16px;
        left: -23px;
    }
    .top-more-item img{
        width: 100px !important;
    }
    .top-more-item {
        margin-right: 30px;
    }
    #home-bestsellers{
        margin-top: 50px;
    }
    .content #white-top{
        z-index: 100;
    }
    #about-info{
        padding: 0;
        display: block;
        margin-bottom: 70px;
    }
    .about-info{
        margin-bottom: 40px;
    }
    .about-content{
        padding: 0;
        font-size: 16px;
        line-height: 28px;
        padding-top: 25px;
    }
    .text-header{
        position: relative;
        margin-top: 50px;
        top: 0;
        padding-left: 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
    }
    .text-header h1 {
        font-size: 40px;
        line-height: 48px;
        font-weight: 900;
        margin-bottom: 40px;
        margin-top: 0;
    }
    .content.mobile-white{
        background: #fff;
        margin: 0;
        padding: 0 15px;
        padding-bottom: 40px;
    }
    .about-big-text {
        font-size: 24px;
        line-height: 34px;
        margin: 50px 0 50px;
    }
    .big-gallery-image{
        height: 270px;
        margin-right: 15px;
    }
    .big-gallery{
        width: 100%;
        height: auto;
        left: 0;
        margin-bottom: 70px;
    }
    .big-gallery-images{
        height: 270px;
    }
    .big-gallery-next {
        width: 50px;
        height: 40px;
        top: 310px;
        margin-top: -40px;
        left: auto;
        right: 0;
    }
    .info-gallery{
        width: 100%;
        height: auto;
        left: 0;
        margin-bottom: 30px;
    }
    .info-gallery-images{
        height: 270px;
    }
    .info-gallery-image{
        height: 270px;
        margin-right: 15px;
    }
    .info-gallery-next {
        width: 50px;
        height: 40px;
        top: 310px;
        margin-top: -40px;
        left: auto;
        right: 0;
    }
    .height100 {
        min-height: auto;
        padding-top: 40px;
    }
    .text-page-submenu{
        display: none;
    }
    .text-page-content {
        padding-left: 0;
        padding-top: 35px;
        width: 100%;
        padding-bottom: 20px;
        font-size: 16px;
        line-height: 28px;
    }
    .text-page-content h2 {
        font-size: 26px;
        line-height: 30px;
        margin: 10px 0 20px;
    }
    .text-page-content p {
        margin-bottom: 40px;
    }
    a.show-on-map{
        position: relative;
        left: 0;
    }
    .footer-form{
        margin-left:0;
        padding-bottom: 120px;
    }
    .footer-form-title {
        font-size: 26px;
        line-height: 30px;
        padding-top: 55px;
        padding-bottom: 40px;
    }
    .footer-form-block{
        width: 100%;
    }
    .footer-form-block:last-child{
        margin-top: -250px;
    }
    .form-confirm{
        margin-top: 230px;
        z-index: 10;
    }
    #send-form{
        margin-top: 100px;
    }
    #page-top.white-top-content #top-content .top-bookmark {
        top: -6px;
        margin-left: -2px;
    }
    #page-top.white-top-content #top-content .top-bookmark {
        top: -6px;
        margin-left: -2px;
    }
    #page-top.white-top-content #top-content .top-title {
        font-size: 30px;
        line-height: 35px;
        margin-left: 0;
    }
    .top-subtitle{
        padding-top: 30px;
    }
    #blog-list-title {
        position: relative;
        display: block;
        font-size: 34px;
        font-weight: 600;
        padding-left: 0;
        padding-top: 0px;
        line-height: 48px;
    }
    #blog-list-title a {
        font-size: 26px;
    }
    .list-bookmarks {
        padding-top: 20px;
        padding-left: 0;
        margin-bottom: 55px;
    }
    .blog-items{
        margin-right: 0;
    }
    .blog-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 70px;
    }
    .blog-item.double-blog-size {
        width: 100%;
    }
    .blog-item.double-blog-size span {
        font-size: 24px;
        line-height: 28px;
    }
    .load-more-link-block{
        margin-right: 0;
    }
    #product-top{
        position: relative;
        margin-left: 15px;
        width: calc(100% - 30px);
        padding-top: 150px;
    }
    #products-bookmarks a:first-child{
        margin-left: 0;
    }
    #products-bookmarks{
        top: 75px;
        right: auto;
    }
    .product-image {
        position: relative;
        width: 100%;
        text-align: center;
        right: auto;
    }
    .product-image img{
        width: 70%;
    }
    #product-top-right{
        width: 100%;
        position: relative;
        margin: 0;
        right: auto;
        top: 0;
    }
    .product-top-title {
        font-size: 30px;
        line-height: 36px;
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .product-top-short {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .product-top-item{
        /*display: none;*/
        width: 42%;
    }
    .white-top-content{
        height: auto !important;
        padding-bottom: 40px;
    }
    #brand-info img{
        position: relative;
        margin-bottom: 30px;
    }
    #brand-info{
        margin-left: 0;
        margin-top: 60px;
        padding-left: 0;
        margin-right: 0;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        margin-bottom: 80px;
    }
    .footer-brands-links a{
        font-size: 18px;
        line-height: 30px;
        margin-top: 4px;
    }
    .blog-content{
        width: auto;
        padding-left: 0;
    }
    #page-top.white-top-content #top-content {
        background: rgba(255, 255, 255, 1);
    }
    .blog-content{
        padding-top: 0;
        font-size: 16px;
        line-height: 28px;
        padding-bottom: 80px;
    }
    .blog-big-text {
        font-size: 18px;
        line-height: 28px;
    }
    .blog-open-footer span {
        color: #1b1b1b;
        margin-right: 15px;
    }
    .info-gallery-text{
        position: relative;
        display: block;
        width: auto;
    }
    .blog-open-footer {
        position: relative;
        width: auto;
        margin-top: 50px;
    }
    .br-mobile-only{
        display: block;
    }
    #menu-items a.br-mobile-only{
        display: block;
    }
    #cart-page-title{
        font-size: 40px;
        line-height: 48px;
        font-weight: 900;
        margin-bottom: 40px;
        margin-top: 0;
        padding-top: 80px;
        padding-left: 0;
    }
    #cart-items{
        margin: 0;
        margin-top: 30px;
    }
    .cart-item{
        margin-bottom: 30px;
    }
    .cart-title {
        left: 140px;
        font-size: 18px;
        line-height: 24px;
        top: 0;
    }
    .cart-count{
        left: 140px;
        top: 125px;
    }
    .cart-price {
        left: 140px;
        top: 80px;
    }
    .cart-price.full-price {
        left: 254px;
    }
    .cart-remove-btn {
        top: 128px;
        left: 210px;
    }
    .cart-wishlist-btn {
        top: 128px;
        left: 265px;
    }
    #cart-itog{
        margin-top: 60px;
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }
    #cart-itog-block{
        width: 100%;
        padding-bottom: 20px;
    }
    #cart-itog-block #send-form {
        margin-top: 40px;
    }
    #cart-itog-block .hover-link {
        margin-left: 0;
        margin-top: 40px;
    }
    .cart-item:first-child .cart-count:after{
        display: none;
    }
    .cart-item:first-child .cart-price:after{
        display: none;
    }
    .cart-item .cart-price:after{
        position: absolute;
        display: block;
        content: "Итого";
        left: 0;
        top: -90px;
        font-size: 13px;
        font-weight: 300;
        line-height: 13px;
        color: #9b9b9a;
    }
    .cart-item .cart-price.full-price:after{
        display: block;
        top: 12px;
        left: -43px;
    }
    #mobile-cart{
        display: block;
    }
}

